nav#navbar
    ul
        li 
            a(href='/') Home
        li 
            a(href='/about') About
        li 
            a(href='/contact') Contact
        li 
            a(href='/api-docs' target='_blank') Document
