extends ../layouts/main.pug

block content
    h1(id="main-header") Contact Us
    .contact-box
        p Have a question, need support, or want to collaborate? Here’s how you can get in touch with us.

        h3 Report a Bug or Request a Feature
        p If you've found a bug or have a feature suggestion, please open an issue on GitHub.
        a(href='https://github.com/drewg2009/readableRegex/issues' target='_blank') Open a GitHub Issue

        h3 Join the Community
        p Connect with other users, ask questions, and stay updated:

        ul
            li 
                a(href='https://www.producthunt.com/products/readble-regex' target='_blank') Follow us on Product Hunt
            li 
                a(href='https://join.slack.com/t/readableregex/shared_invite/zt-2zdksij4k-wEYXgPNSFOWXYlNM3CSq0Q' target='_blank') Join our Slack Community

        h3 Collaborate with Us
        p Interested in contributing or partnering? Reach out via GitHub or Slack—we'd love to hear from you!
