extends ../layouts/main.pug

block content
    h1(id="main-header") Readable Regex 
    h4 API to execute readable regex
    label Enter a string to run an operation on
    br
    br
    input(id='inputString' type='text' placeholder='i.e. #1234' onkeyup='enableButton()')
    br
    label Select a simple operation to perform (all operations can be found on our docs page)
    br
    br
    select(name='endpoint')
        option(value='onlyNumbers') Only Numbers
        option(value='onlyLetters') Only Letters
        option(value='onlySpecialCharacters') Only Special Characters
        option(value='isEmailAddress') Is Email Address
        option(value='isPhoneNumber') Is Phone Number
        option(Value='trim') Trim
        option(value='isInteger') Is Integer
        option(value='isAlphaNumeric') Is Alpha Numeric
        option(value='isHexadecimal') Is Hexadecimal
        option(value='isDecimal') Is Decimal
        option(value='isLowercase') Is Lowercase
        option(value='isDate') Is Date
        option(value='isAllCaps') Is AllCaps
        option(value='isUrl') Is Url
        option(value='isBinaryString') Is Binary String
        option(value='isBoolean') Is Boolean

    br
    br
    button(onclick='getResponse()' id='getResponseButton' disabled='true') Get Response
    br
    br
    h4 API response below
    br
    br
    div(id='responseBox')
    br
    br
    pre
        include ../html/codeSamples.html

